body{
	width:100vw;
	height:100vh;
	left:-8px;
	font-family: 'Lora', serif;
	text-align: center;
	background:black;
	color:white;
	letter-spacing: .1px;
	font-size:20px;
	position:absolute;
	overflow-x: hidden;
}

.center{
	margin: 0 auto;
	text-align:center;
}

h1{
	letter-spacing: .5px;
	font-size:40px;
}
	


/*title*/
.title-page{
	position:absolute;
	background:black;
	width:100vw;
	height:99vh;
	display:flex;
	flex-direction:column;
	justify-content: center;
}
.title{
	font-size:200px;
	margin-top:-10px;
	background: linear-gradient(-45deg, rgb(248,187,214),rgb(248,187,214),rgb(120, 192, 235),rgb(120, 192, 235));
  -webkit-background-clip: text;
	background-size:200% 200%;
  -webkit-text-fill-color: transparent;
	-webkit-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

	

/*intro*/
.intro-page{
	padding-top:100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	width:100vw;
	height:99vh;
	background:linear-gradient(-45deg, rgb(248,187,214),rgb(248,187,214),rgb(120, 192, 235),rgb(120, 192, 235));
	background-size:250%; 250%;
	animation: Gradient 15s ease infinite;
}
.intro{
	display:block;
	margin:0 auto;
	text-align:center;
	font-size:24px;
	width:50%;
	margin-top:-50px;
	line-height: 1.5;
}

.window{
	width:100vw;
	height:100vh;
	display:inline-flex;
	flex-direction: column;
	justify-content: center;
	margin:none;
}
.explanation{
	margin-top:px;
	padding-bottom:10px;
}

.bubble{
	display:flex;
	flex-direction: column;
	justify-content: center;
	width:680px;
	height:680px;
	margin:0 auto;
	background:linear-gradient(-45deg, rgb(248,187,214),rgb(248,187,214),rgb(120, 192, 235),rgb(120, 192, 235));
	background-size: 200% 200%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite , shake 10s ease infinite;
	border-radius:340px;
}

.bubble:hover{
	animation-play-state: paused;
}


/*====form=====*/
form, form *, h1{
	align-content: center;
	text-align: center;
}

form *{
	margin-bottom:20px;
}

form{
	padding-top:20px;
}


input, textarea{
	background:transparent;
	color:white;
	border:1px solid white;
}

textarea, input{
	width:50%;
	min-height:50px;
	caret-color:white;
}

button{
	background:transparent;
	border: 1px solid white;
	height:30px;
	width:80px;
	display:block;
	margin:0 auto;
	margin-bottom:10px;
	color:white;
	text-decoration: none;
	font-family: 'Lora', serif;
}


.confirmation{
	margin-top:50px;
	font-size:10px;
}


.is-hidden {
      display: none !important;
 }

/*gradient*/
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
		
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(0, -10px, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes rotate {
     100% { transform: rotate(360deg); }
    }

    @keyframes dash {
     0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; }
     50% { stroke-dasharray: 89,200; stroke-dashoffset: -35; }
     100% { stroke-dasharray: 89,200; stroke-dashoffset: -124; }
    }

    .loading {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .loading-spinner {
      width: 50px;
      height: 50px;
    }

    .loading-spinner svg {
      position: relative;
      animation: rotate 2s linear infinite;
      height: 50px;
      width: 50px;
    }

    .loading-spinner circle {
      stroke: var(--accent);
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }




@media only screen and (max-width: 900px) {
	body{
		font-size:18px;
	}
	.title{
		font-size:120px;
	}
	div.bubble{
		width:500px;
		height:500px;
		border-radius:250px; 
	}

	h1{
		padding-top:20px;
	}
	form{
		padding-top:10px;
	}
	form *{
		margin:8;
	}
	.explanation{
		margin-top:-50px;
		font-size:20px;
		padding-bottom:50px;
	}
	.confirmation{
		margin-top:0;
	}
}

@media only screen and (max-width: 600px) {
	body{
		font-size:15px;
	}
	.title{
		font-size:75px;
	}
	.intro{
		width:70%;
		font-size:18px;
	}
	div.bubble{
		width:360px;
		height:360px;
		border-radius:180px;
		animation-play-state: paused;
		animation: Gradient 15s ease infinite;
	}
	.form-container{
		width:85%;
		margin:0 auto;
	}
	form{
		padding-top:00px;
		margin-bottom:0;
	}
	form *{
		margin:5px;
	}
	textarea{
		 
	}
	button{
		margin:0 auto;
		width:70px;
		height:20px;
	}
	.explanation{
		margin-top:-15px;
		margin-bottom:10px;
	}
	.confirmation{
		margin-top:10px;
	}
}