body{
	width:100vw;
	height:100vh;
	left:-8px;
	font-family: 'Lora', serif;
	text-align: center;
	background:black;
	color:white;
	letter-spacing: .1px;
	font-size:20px;
	position:absolute;
	overflow: hidden;
}

.center{
	margin: 0 auto;
	text-align:center;
}

div{
	background: linear-gradient(-45deg, rgb(248,187,214),rgb(248,187,214),rgb(120, 192, 235),rgb(120, 192, 235));
  -webkit-background-clip: text;
	background-size:200% 200%;
  -webkit-text-fill-color: transparent;
	-webkit-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	height:98vh;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin:0;
}
h1{
	margin:0 auto;
	width:70vw;
	letter-spacing: .5px;
	font-size:40px;
	padding:60px;
}


__gradient--

/*gradient*/
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
		
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}