body{
	width:100vw;
	height:100vh;
	left:-8px;
	font-family: 'Lora', serif;
	text-align: center;
	background:black;
	color:white;
	letter-spacing: .1px;
	font-size:20px;
	position:absolute;
	overflow: hidden;
}

.center{
	margin: 0 auto;
	text-align:center;
}

div{
	background: -webkit-linear-gradient(-45deg, rgb(248,187,214),rgb(248,187,214),rgb(120, 192, 235),rgb(120, 192, 235));
	background-size:200% 200%;
	height:98vh;
	margin:0 auto;
	width:50vw;
	display:block;
/*
	flex-direction: column;
	justify-content: center;
	margin:0;
*/
	-webkit-animation-name: Gradient;
	-webkit-animation-duration:15s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: ease infinite;;
	animation: Gradient 15s ease infinite;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}
.logo{
	margin-top:10vh;
}
span{
	font-size:15px;
}
.body{
	margin-top:10vh;
	position:absolute;
}
.messages{
	letter-spacing: .5px;
	font-size:40px;
	height:50vh;
}


__gradient--

/*gradient*/
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
		
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}